body {
  margin: 0;
  padding: 0;
}

p,
h2,
h3,
h4,
span {
  font-family: "Roboto", sans-serif;
  margin: 0;
}

h1 {
  font-family: "Shrikhand", cursive;
  margin: 0;
}

h4 {
  font-weight: lighter;
}

i {
  height: fit-content;
}

a {
  text-decoration: none;
  color: inherit;
}

#loader-container {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100%;
  width: 100%;
  position: fixed;
  top: 0;
  left: 0;
  background-color: #fff;
  z-index: 100;
  animation: fade 3s forwards;
  visibility: visible;
}
#loader-container .loader {
  border: 16px solid #f3f3f3;
  border-top: 16px solid #9356DC;
  border-radius: 50%;
  width: 60px;
  height: 60px;
  animation: spin 3s linear infinite;
}
@keyframes spin {
  0% {
    transform: rotate(0deg);
  }
  100% {
    transform: rotate(360deg);
  }
}
@keyframes fade {
  0% {
    visibility: visible;
  }
  100% {
    visibility: hidden;
  }
}

nav {
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 1rem 0;
}
nav img {
  width: 11rem;
  height: 2rem;
}

.btn, .resto-menu__bottom-button button {
  background: linear-gradient(#FF79DA, #9356DC);
  border: none;
  border-radius: 25px;
  max-width: 25rem;
  padding: 1rem 2rem;
  color: white;
  cursor: pointer;
}

.btn:hover, .resto-menu__bottom-button button:hover {
  filter: brightness(1.2);
}

.resto-location {
  display: flex;
  justify-content: center;
  background-color: #EAEAEA;
  padding: 1rem 0;
}
.resto-location__container {
  display: flex;
  flex-flow: row;
  width: fit-content;
  align-items: center;
}
.resto-location__container h3 {
  margin-left: 1rem;
}

.resto-catchphrase {
  background-color: #F7F7F7;
  display: flex;
  flex-flow: column wrap;
  align-items: center;
  padding: 3rem;
  text-align: center;
  gap: 3rem;
}
.resto-catchphrase h3 {
  font-weight: lighter;
}

.resto-fonctio {
  display: flex;
  flex-flow: column;
  justify-content: center;
  align-items: center;
  padding: 3rem 0;
}
.resto-fonctio__title {
  width: 332.73px;
  margin-bottom: 2rem;
}
.resto-fonctio__container {
  display: grid;
  align-self: center;
  grid-template-rows: repeat(3, 1fr);
  flex-flow: column;
  gap: 1rem;
}
.resto-fonctio__card {
  position: relative;
  display: flex;
  align-items: center;
  flex-flow: row;
  background-color: #F7F7F7;
  padding: 1.8rem 4rem 1.8rem 0;
  border-radius: 22px;
}
.resto-fonctio__number {
  display: flex;
  justify-content: center;
  align-items: center;
  color: white;
  background-color: #9356DC;
  width: 25px;
  height: 25px;
  border-radius: 15px;
  position: absolute;
  left: -0.7rem;
}
.resto-fonctio i {
  margin-left: 1.8rem;
  margin-right: 1.8rem;
  color: #7E7E7E;
}

.resto-choice {
  padding: 4rem 2rem;
  background-color: #F7F7F7;
  display: grid;
  grid-template-rows: 0.1fr 4fr;
  justify-content: center;
}
.resto-choice__title {
  margin-bottom: 1.2rem;
}
.resto-choice__container {
  display: grid;
  grid-template-rows: repeat(4, 2fr);
  justify-content: center;
  gap: 1.5rem;
}
.resto-choice__new {
  border-radius: 2px;
  padding: 0.3rem 0.6rem;
  color: #008766;
  width: 60px;
  height: 20px;
  background-color: #99E2D0;
  position: absolute;
  right: 0.8rem;
  top: 0.8rem;
}
.resto-choice__card {
  z-index: 1;
  position: relative;
  display: flex;
  flex-flow: column;
  border-radius: 15px;
  background-color: white;
  box-shadow: rgba(145, 145, 145, 0.4) 0px 4px 8px;
  position: relative;
  max-width: 500px;
}
.resto-choice__card img {
  border-radius: 15px 15px 0 0;
  width: 100%;
  height: 80%;
  object-fit: cover;
  aspect-ratio: 16/9;
}
.resto-choice__card h3 {
  font-size: 1rem;
}
.resto-choice__card-description {
  display: flex;
  flex-flow: row;
  padding: 1rem;
}
.resto-choice__description-title {
  display: flex;
  flex-flow: column;
  width: 50%;
  height: 100%;
  gap: 0.5rem;
}
.resto-choice__description-title p {
  margin-bottom: 0.5rem;
}
.resto-choice__heart {
  display: flex;
  align-items: center;
  justify-content: flex-end;
  width: 50%;
  padding-right: 1rem;
}
.resto-choice__heart i {
  position: absolute;
  z-index: 10;
}
.resto-choice__heart i:hover {
  display: none;
}
.resto-choice__heart i:hover .img-heart {
  display: block;
}
.resto-choice__heart .img-heart {
  display: none;
  width: 26px;
  height: 26px;
}

footer {
  background-color: #353535;
  padding: 1.5rem;
  color: white;
  gap: 1rem;
}
footer img {
  width: 6rem;
  height: 1rem;
  margin-bottom: 0.6rem;
}
footer .image-color {
  filter: brightness(0) invert(1);
}
footer .footer-text {
  display: flex;
  flex-direction: column;
  gap: 0.5rem;
}
footer .footer-text i {
  margin-right: 0.8rem;
}
footer .footer-text .fa-2xs {
  margin-right: 0.65rem;
}

.fa-arrow-left {
  position: absolute;
  left: 1rem;
}

.resto-menu .middle {
  background-color: #F7F7F7;
}
.resto-menu__out {
  position: relative;
}
.resto-menu__title {
  position: relative;
  z-index: 1;
}
.resto-menu__title img {
  width: 100%;
  height: 100%;
  object-fit: cover;
}
.resto-menu__card-container-1 {
  display: flex;
  flex-direction: column;
  gap: 1rem;
  padding: 0 1rem;
  z-index: 2;
  position: relative;
  margin-top: -35px;
  padding-top: 30px;
  background-color: #F7F7F7;
  border-radius: 30px 30px 0 0;
}
.resto-menu__card-container {
  display: flex;
  flex-direction: column;
  gap: 1rem;
  padding: 0 1rem;
  padding-top: 2.2rem;
}
.resto-menu__heart {
  margin-top: 3rem;
  padding-right: 0.6rem;
  margin-bottom: 2.2rem;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
}
.resto-menu__green-dash {
  height: 3px;
  width: 3rem;
  background-color: #99E2D0;
}
.resto-menu--coche {
  border-radius: 0 15px 15px 0;
  width: 70px;
  background-color: #99E2D0;
  display: none;
  justify-content: center;
  align-items: center;
  cursor: pointer;
}
.resto-menu--coche i {
  color: white;
}
@keyframes roll-in {
  0% {
    opacity: 0;
    width: 0px;
  }
  100% {
    width: 70px;
    opacity: 1;
  }
}
.resto-menu__card-left {
  display: flex;
  flex-direction: column;
  margin: 1rem;
  overflow: hidden;
  white-space: nowrap;
}
.resto-menu__card {
  display: grid;
  grid-template-columns: 4fr 0fr;
  gap: 0.3rem;
  box-shadow: rgba(145, 145, 145, 0.4) 0px 4px 8px;
  background-color: white;
  border-radius: 15px;
  cursor: pointer;
  opacity: 0;
  transform: translateY(20px);
  transition: opacity 0.5s ease, transform 0.5s ease;
}
.resto-menu__card:hover .resto-menu--coche {
  display: flex;
  animation: roll-in 1s ease;
}
.resto-menu .resto-menu__card:nth-child(1) {
  animation: appear-card 0.5s ease 0.25s forwards;
}
.resto-menu .resto-menu__card:nth-child(2) {
  animation: appear-card 0.5s ease 0.5s forwards;
}
.resto-menu .resto-menu__card:nth-child(3) {
  animation: appear-card 0.5s ease 0.75s forwards;
}
.resto-menu .resto-menu__card:nth-child(4) {
  animation: appear-card 0.5s ease 1s forwards;
}
.resto-menu .resto-menu__card:nth-child(5) {
  animation: appear-card 0.5s ease 1.25s forwards;
}
@keyframes appear-card {
  0% {
    opacity: 0;
    transform: translateY(20px);
  }
  100% {
    opacity: 1;
    transform: translateY(0);
  }
}
.resto-menu__card-price {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: space-between;
}
.resto-menu__card-price h4 {
  font-size: 0.8rem;
  text-overflow: ellipsis;
}
.resto-menu__card-price h3 {
  text-overflow: ellipsis;
}
.resto-menu__bottom-button {
  width: 100%;
  height: 100%;
  padding: 2rem 0;
  display: flex;
  justify-content: center;
}
.resto-menu__bottom-button button {
  padding: 1rem 3.2rem;
}

/*# sourceMappingURL=style.css.map */
